---
http_interactions:
- request:
    method: get
    uri: https://takehome.io/facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - c9b3033c8831df6ea1bbd2faa9aa7e2f
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Some Friend","status":"Here''s some photos of my holiday.
        Look how much more fun I''m having than you are!"},{"name":"Drama Pig","status":"I
        am in a hospital. I will not tell you anything about why I am here."}]'
  recorded_at: Fri, 21 Oct 2022 19:53:26 GMT
- request:
    method: get
    uri: https://takehome.io/instagram
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message:
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - 36706450e5c5cd99045fc87645734987
    body:
      encoding: ASCII-8BIT
      string: I am trapped in a social media factory send help
  recorded_at: Fri, 21 Oct 2022 19:53:26 GMT
- request:
    method: get
    uri: https://takehome.io/twitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - '0902775f85693b745ab0cee30e6972e0'
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"@GuyEndoreKaiser","tweet":"If you live to be 100, you
        should make up some fake reason why, just to mess with people... like claim
        you ate a pinecone every single day."},{"username":"@mikeleffingwell","tweet":"STOP
        TELLING ME YOUR NEWBORN''S WEIGHT AND LENGTH I DON''T KNOW WHAT TO DO WITH
        THAT INFORMATION."}]'
  recorded_at: Fri, 21 Oct 2022 19:53:26 GMT
recorded_with: VCR 6.1.0
