---
http_interactions:
- request:
    method: get
    uri: https://takehome.io/facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 478311ace47d4864cb3e3870fd7d922a;o=1
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Some Friend","status":"Here''s some photos of my holiday.
        Look how much more fun I''m having than you are!"},{"name":"Drama Pig","status":"I
        am in a hospital. I will not tell you anything about why I am here."}]'
  recorded_at: Fri, 21 Oct 2022 19:54:48 GMT
- request:
    method: get
    uri: https://takehome.io/instagram
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 263c0e1637d88b800c0471e48f12a301
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"hipster1","picture":"food"},{"username":"hipster2","picture":"coffee"},{"username":"hipster3","picture":"coffee"},{"username":"hipster4","picture":"food"},{"username":"hipster5","picture":"this
        one is of a cat"}]'
  recorded_at: Fri, 21 Oct 2022 19:54:48 GMT
- request:
    method: get
    uri: https://takehome.io/twitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - '0902775f85693b745ab0cee30e6972e0'
    body:
      encoding: ASCII-8BIT
      string: '[{"username":"@GuyEndoreKaiser","tweet":"If you live to be 100, you
        should make up some fake reason why, just to mess with people... like claim
        you ate a pinecone every single day."},{"username":"@mikeleffingwell","tweet":"STOP
        TELLING ME YOUR NEWBORN''S WEIGHT AND LENGTH I DON''T KNOW WHAT TO DO WITH
        THAT INFORMATION."}]'
  recorded_at: Fri, 21 Oct 2022 19:53:26 GMT
recorded_with: VCR 6.1.0
